/*
RED: #C54B51 ORANGE: #C2804A YELLOW: #E7E05E GREEN: #8CC24B BLUE: #2389C1;
FONTS: Josefin+Sans|Questrial|Amatic+SC
*/

/*svg {
	position: relative;
}*/

g {
	fill: #eaeaea;
	stroke:#333333;
	stroke-width: .07;
	/*transition: fill .5s ease-out;*/
}

.inactive {
	stroke: #fafafa;
	transition: stroke .5s ease-out;
}

.activeState {
	opacity: .75;
}

.activeCity {
	fill: #8CC24B;
}



.state:hover {
	opacity: .75;
}

h1 {
	font-family: 'Amatic SC';
	text-align: center;
}

.background {
	fill: #fff;
}

.city:hover {
	fill: #8CC24B;
}

h2 {
	text-align: center;
	font-family: 'Josefin Sans';
	font-size: 20px;
}

nav {
	background-color: #fff;
	box-shadow: 0px 2px 10px #333333;
}

.map {
	margin-top: 70px;
}

a, 
a:visited,  
a:focus, 
a:active {
	text-decoration: none;
	color: black;
}

.city-state {
	background-color: #fff;
	box-shadow: 0px 2px 10px #333333;
}





