/*
RED: #C54B51 ORANGE: #C2804A YELLOW: #E7E05E GREEN: #8CC24B BLUE: #2389C1;
FONTS: Josefin+Sans|Questrial|Amatic+SC
*/

/*svg {
	position: relative;
}*/

html {
	font-size: 10px;
}

body {
	padding-top: 55px;
}


g {
	fill: #eaeaea;
	stroke:#141414;
	stroke-width: .1;
	/*transition: fill .5s ease-out;*/
}

g .place-label {
	font-family: 'Josefin Sans';
	fill: black;
}

.inactive {
	stroke: #fafafa;
	transition: stroke .5s ease-out;
}

.activeState {
	opacity: .75;
}

.activeCity {
	fill: #8CC24B;
}



.state:hover {
	opacity: .75;
}

h1 {
	font-family: 'Amatic SC';
	text-align: center;
}

.venue h1 {
	font-family: 'Josefin Sans';
	font-size: 2.5em;
}

.background {
	fill: #fff;
}

.city:hover {
	fill: #8CC24B;
}

h2 {
	text-align: center;
	font-family: 'Josefin Sans';
	font-size: 20px;
}

nav {
	background-color: #fff;
	box-shadow: 0px 2px 10px #333333;
}


a, 
a:visited,  
a:focus, 
a:active,
a:hover {
	text-decoration: none;
	color: black;
}

#level1:hover {
	text-decoration: underline;
}


.city-state {
	background-color: #fafafa;
	box-shadow: 0px 2px 10px #333333;
}

.street {
	color: #C54B51;
}


.logo {
	padding-top: 10px;
	max-width: 30px;
}

.add {
	text-align: right;
	font-family: 'Josefin Sans';
	font-size: 1.5em;
}

#level1 {
	font-size: 2em;
	font-family: 'Amatic SC';
}

.data img {
	border-radius: 50%;
	box-shadow: 0px 2px 30px #333;
	max-width: 25%;
	margin: auto;
}

.data img:active {
	box-shadow: 0px 2px 10px #333;
}





#plus {
	color: #8CC24B;
}

#minus {
	color: #C54B51;
}

.navbar-brand {
  float: none;
  }

.navbar-center {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	text-align: center;
	margin: auto;
	height:100%;
}

nav img {
	max-width: 40px;
}

ul {
	padding-right: 15px;
}

footer {
	background-color: #eaeaea;
	box-shadow: 0px 2px 10px #333;
}

ul,
li {
	font-family: "Josefin Sans";
}

p {
	font-family: "Josefin Sans";
	text-align: center;
	margin-top: 30px;
}

.show {
	display: block;
	margin: auto;
	border-radius: 50%;
	box-shadow: 0px 2px 30px #333;
	max-width: 10%;
	margin: auto;

}

img {
	display: block;
	margin: auto;
}

.number {
	font-size: 2em;
}

@media only screen and (max-width : 992px) {
	html {
		font-size: 6px;
	}

	#level1 {
		font-size: 1.25em;
	}


}

