{% extends "base.html" %}
{% load staticfiles %}



{% block content %}
<div class="row">
<div class="col-xs-12">
	<h1 class="detail-header">Mapplop</h1>
</div>

<div>	
<img class="item" src="{% static 'img/cover.png' %}" style='width: 40%;'>
<h1>Become self suficient as a musician</h1>
<div class="button-wrapper">
	<a href="/map">
	<button class="btn btn-default">To the Map</button>
	</a>
	<a href="/apps">
		<button class="btn btn-default">To the Apps</button>
	</a>
</div>
{% endblock content %}