{% extends "base.html" %}

{% block content %}
<div class="container-fixed">

<!-- <div class="col-xs-8 col-xs-offset-2"> -->
<div class="flex-container">
	{% for obj in object_list %}
	<a href="{{ obj.get_absolute_url }}">
		<div class="item-wrapper">
		<div class="tool-div">
			<img src="{{ obj.image.url }}">
			<ul class="poptart">
				{% for point in obj.bullets.objects %}
				<li>{{ point }}</li>
				{% endfor %}
			</ul>
			<form action="{{ obj.link }}" target="_blank">
				<button class="btn btn-default center-block">{{ obj.title }}</button>
			</form>
		</div>
		</div>
		</a>
	{% endfor %}
</div>
</div>
<!-- </div> -->

{{ obj.get_absolute_url }}
{{ obj.timestamp|timesince }}
{{ obj.image.url }}
{% if obj.image %}
{% endif %}

{% endblock content %}
{% block script %}
<script type="text/javascript">
	$('.tool-div').remove('ul');
	console.log('ok');
</script>
{% endblock script %}
