{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    	<title>Mapplop</title>
		<!-- Styles -->
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    	<link rel="stylesheet" href="{% static 'css/main.css' %}">
    	<!-- Fonts -->
    	<link href='http://fonts.googleapis.com/css?family=Josefin+Sans|Questrial|Amatic+SC' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<!-- Navigation Bar -->
		<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
			<!-- Navbar Center Piece -->
			<div class="navbar-center navbar-brand">
				<a href="#top" class="navbar-brand" id="level1">Something Wrong?</a>
			</div>
			<!-- Navbar Dropdown -->
			<ul class="nav navbar-nav">
     			<li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">remove venue <span class="caret"></span></a>
		          <ul class="dropdown-menu">
		          	<li><a href="/">Home</a></li>
		          	<li role="separator" class="divider"></li>
		            <li><a href="/themap">the map</a></li>
		            <li role="separator" class="divider"></li>
		            <li><a href="/addvenue">Venue add request</a></li>
		            <li role="separator" class="divider"></li>
		            <li class="dropdown-header">Follow Us On...</li>
		            <li><a href="https://www.facebook.com/mapplop/">Facebook</a></li>
		            <li class="follow">
			            <div class="fb-like" data-href="http://www.mapplop.com" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
		            </li>
		            <li><a href="https://twitter.com/mapplop">Twitter</a></li>
		            <li class="follow">
		            	<a class="twitter-follow-button" href="https://twitter.com/mapplop"
		            	data-show-screen-name=false>@mapplop</a>
		            </li>
		            <li><a href="https://www.youtube.com/channel/UCit7jhRfrhsn45B2Yx9Tv2A">Youtube</a></li>
		            <li class='follow'>
		            	<div class="g-ytsubscribe" data-channelid="UCit7jhRfrhsn45B2Yx9Tv2A" data-layout="default" data-count="default"></div>
		            </li>
		          </ul>
		        </li>
		      </ul>
		</nav>
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12">
					<img src="{% static 'img/newyorknot.png' %}">
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<p class="lead"><span class="big-number">1. </span>See a venue on here that shouldn't be?</p>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<p class="lead"><span class="big-number">2. </span>Perhaps they just moved and need a change of address?</p>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<p class="lead"><span class="big-number">3. </span>Fill out the form bellow and let us know who and what's wrong.<br> We will check it out and if you weren't kidding we will make the changes <br> and you can thank yourself for helping us stay awesome. </p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-4">
				<form method="post">{% csrf_token %}
					<div class="form-group">
						<label for="name">Venue Name</label>
		    			<input required type="text" class="form-control" id="name" name="name" placeholder="Chill Phil's Music Grill" value="{{ current_name }}">
		    		</div>
		    		<div class="form-group">
		    			<label for="state">State</label>
		    			<select required class="form-control" name="state" value="{{ current_state }}">
						</select>
		    		</div>
		    		<div class="form-group">
						<label for="city">City</label>
		    			<input required type="text" class="form-control" id="city" name="city" placeholder="Montgomery" value="{{ current_city}}">
		    		</div>
		    		<div class="form-group">
		    			<label>What's Wrong?</label>
						<textarea required class="form-control" rows="3" name="description" placeholder="They have gone extinct." value="{{ current_description }}"></textarea>
		    		</div>
		    		<button type="submit" class="btn btn-primary">Submit</button>
		    	</form>
			</div>
		</div>
		<!-- Plugins -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<!-- For Social Followings -->
		<script src="{% static 'js/social.js' %}"></script>
		<script src="https://apis.google.com/js/platform.js"></script>
		<!-- Page Scripts -->
		<script src="{% static 'js/addvenue.js' %}"></script>
	</body>
</html>